@page
@model RzrPgsDemoApp.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Order.FoodId" class="control-label"></label>
        <select asp-for="Order.FoodId" asp-items="Model.FoodItems" class="form-control"></select>
        <!--That last line was different from the two examples below.
            It is "select" and needs "asp-items" to ID what items will populate the selections.-->
        <span asp-validation-for="Order.FoodId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Order.Quantity" class="control-label"></label>
        <input asp-for="Order.Quantity" class="form-control" />
        <span asp-validation-for="Order.Quantity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Order.OrderName" class="control-label"></label>
        <input asp-for="Order.OrderName" class="form-control" />
        <span asp-validation-for="Order.OrderName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Order your food" class="btn btn-primary" />
    </div>
</form>

<!--Basically, the Order.OrderName is what identifies the data source.
    Note the two "validation" bits: The summary is for the whole form,
    the for is for Order.OrderName only.-->

<!--ASP is smart enough to know what kind of field is needed for different properties.
    Eg, OrderName will get a text field and Quantity an int.-->

<!--Tim's relying on these classes from Bootstrap.
    He's not getting into it here, it's just for nice styling.-->

<!--Add some client-side validation.-->
<!--You added this bit of code, but ValidationScriptsPartial is already
    in the project, in Shared. It's just boilerplate to help validate stuff.
    Recall we set some validation in the OrderModel.cs in the Common project.-->
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}